<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
	    <link
	      rel="stylesheet"
	      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
	    >
        <title>Logingu</title>
    </head>
    <body><div class="container">
		<section class="hero">
			<div class="content">
				<div class="card">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/perform_login}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div><label> User Name : <input class="input" type="text" name="username"/> </label></div>
            <div><label> Password: <input class="input" type="password" name="password"/> </label></div>
            <div><input class="button is-primary" type="submit" value="Sign In"/></div>
        </form>
	</div>
	</div>
	</section>
</div>
    </body>
</html>